table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    color: black;
    vertical-align: baseline;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  tr:nth-child(odd){background-color: #e2f2f2}
  
  th {
    background-color: #04AA6D;
    color: white;
  }

.cursor {
    cursor: pointer;
}

.cursor:hover {
    background-color: orange;
}

.some-container { 

    width: 80%;
    margin: auto;
}

.movie-link {
  color: white;
  font-size: 1.5em;
  border: 1px solid white;
  border-radius: 5px;
  padding:5px;
  margin: 5px;
  margin-left: 15px;
}

.movie-link:hover {
  background-color: orange;
}
