.show-list-container{
    text-align: center;

    h1{
        font-size: 50px;
        color: lightgreen;
    }

    .show-list{
        padding-top: 30px;

        span{
            text-decoration: none;
            color: lightgreen;
            outline: 1px solid lightgreen;
            padding: 10px;
            margin: 25px;
            font-size: 25px;
    
            &:hover{
                color: white;
                background-color: lightgreen;
            }
        }
    }
}