
.load-more-items {
    text-align: center;

    div{
        margin: auto;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 80%;
        border: 1px solid black;
        border-radius: 20px;
        color: black;
        font-size: 20px;

        &:hover{
            color: white;
            background-color: rgb(73, 230, 11);
        }
    }
}

h1{
    margin-left: 30px;
}

.home-page{
    background-color: saddlebrown;

}

.search-section {
    padding: 20px;
    display: block;
    margin: auto;
    width: 1200px;
}

.search-box {
    height: 30px;
    padding: 5px;
    width: 80%;
}


.genre-select {
    height: 30px;
    padding: 5px;
    width: 20%;
}

.search-inline {
    width: 100%;
}

.search-scroll-view {
    overflow-y: auto;
    height: 300px;
}

.search-inline > * {
    display: inline-block;
}
